azure-functions
azure-functions-durable
azure-identity
azure-cosmos
azure-storage-blob
azure-storage-queue
azure-keyvault-secrets
azure-monitor-opentelemetry
azure-ai-documentintelligence
openai
xlrd==2.0.1
